<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>Eric</string>
		<key>lastName</key>
		<string>Mentele</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Edward</string>
		<key>lastName</key>
		<string>Abrahamsen</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Clint</string>
		<key>lastName</key>
		<string>Akins</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Joseph</string>
		<key>lastName</key>
		<string>Barnes</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brian</string>
		<key>lastName</key>
		<string>Ledbetter</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Adam</string>
		<key>lastName</key>
		<string>Caldwell</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Ryan</string>
		<key>lastName</key>
		<string>Christensen</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Daniel</string>
		<key>lastName</key>
		<string>Hour</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Chantel</string>
		<key>lastName</key>
		<string>Frizzel</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>David</string>
		<key>lastName</key>
		<string>Fry</string>
		<key>student</key>
		<false/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jeff</string>
		<key>lastName</key>
		<string>Hendershot</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Brad</string>
		<key>lastName</key>
		<string>Johnson</string>
		<key>student</key>
		<false/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Scott</string>
		<key>lastName</key>
		<string>Kendall</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Denise</string>
		<key>lastName</key>
		<string>Koch</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Michael</string>
		<key>lastName</key>
		<string>Labaz</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Patrick</string>
		<key>lastName</key>
		<string>Landin</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Robert</string>
		<key>lastName</key>
		<string>Lee</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>John</string>
		<key>lastName</key>
		<string>Leonard</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Duncan</string>
		<key>lastName</key>
		<string>Marsh</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Lance</string>
		<key>lastName</key>
		<string>Park</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Andrew</string>
		<key>lastName</key>
		<string>Potter</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Andrew</string>
		<key>lastName</key>
		<string>Reifers</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Doctor</string>
		<key>lastName</key>
		<string>Schwenk</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Stephen</string>
		<key>lastName</key>
		<string>Doe</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Mystery</string>
		<key>lastName</key>
		<string>Maddocks</string>
		<key>student</key>
		<true/>
		<key>image</key>
		<data></data>
	</dict>
</array>
</plist>
